@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --muted: #4b5563;
  --mushrif-orange: #f97316;
  --mushrif-red: #ef4444;
  --mushrif-yellow: #eab308;
  --mushrif-blue: #3b82f6;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --muted: #d1d5db;
}



body {
  background: var(--background);
  color: var(--foreground);
}

.font-arabic {
  font-family: var(--font-noto-kufi-arabic), "Noto Kufi Arabic", sans-serif;
}

.font-sans {
  font-family: var(--font-poppins), Poppins, sans-serif;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}